<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="background: #eceff1">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/home/">Home</a>
        <a href="/logout/" style="float: right; padding-top: 8px; padding-right: 10px;"><button class="btn btn-warning">Log out</button></a>

      </nav>
<h3 style="padding-left: 40%; padding-top: 15%;">Welcome, {{name}}</h3>
</body>
</html>